# Data
/data/

# .env files
.env
.envrc

# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/

# Obsidian vault
obsidian/.obsidian

# Python packaging
*.egg-info/
dist/
build/
